.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3e0a79;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.favContainer {
  width: 45%;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: rgba(240, 248, 255, 0.322);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.favContainer h1 {
  font-family: var(--font-ubuntu);
  color: aliceblue;
  font-weight: 500;
}

.favCardContainer {
  width: 90%;
  height: 5em;
  background-color: rgba(240, 248, 255, 0.275);
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.favCardContainer h2 {
  margin: 0.3em;
  font-family: var(--font-ubuntu);
}

.favCardContainer h4 {
  margin: 0.5em;
  font-family: var(--font-ubuntu);
}

.tokenData {
  width: 100%;
}

.tokenData h2 {
  color: rgb(245, 245, 245);
  letter-spacing: 2px;
}

.tokenPrecio1 img, .tokenPrecio2 img, .tokenPrecio3 img {
  position: relative;
  bottom: .2em;
  left: .3em;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

.tokenPrecio1, .tokenPrecio2, .tokenPrecio3 {
  color: #3e0a79;
  display: flex;
  justify-content: center;
}

.deleteBtn {
  position: relative;
  top: 0.1em;
  height: 1em;
  width: 1em;
  right: 0.5em;
}

.deleteBtn button {
  font-size: 16px;
  border-radius: 0.3em;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: var(--font-ubuntu);
  background-color: #7757a4;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.deleteBtn button:hover {
  background-color: rgb(253, 52, 52);
}




