.generalContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
width: 100%;

}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    right: 10em;
  }

.titleContainer h1 {
        position: relative;
        bottom: 0.2em;
        margin: 0;
        background: linear-gradient(90deg, #56a8ff 0%, #f36aff 25%, #f1e454 100%);
        padding: 0.5em 0;
        font-size: 40px;
        font-weight: 700;
        font-family: "Ubuntu", sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      
}
.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 1.4em;
    right: 22em;
    background-color: #ffffff4c;
    height: 2em;
    width: 18em;
    z-index: 3;
    border-radius: .5em;
}


.depositar button, .favoritos button, .cuenta button {
    color: rgba(255, 255, 255, 0.785);
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    transition: .2s;
    background-color: transparent;
    border: none;
    border-radius: .5em;
    width: 6em;
    height: 1.5em;
    margin: .2em;
    text-align: center;
}

.depositar button:hover,  .favoritos button:hover , .cuenta button:hover {
    color: white;
    cursor: pointer;
}

.depositar button:focus, .favoritos button:focus, .cuenta button:focus {
    background-color: #240c3b9c;
  
}




@media (min-width: 1900px) { 
    .navContainer {
      right: 28em;
      width: 30em;
    }
    .depositar button, .favoritos button, .cuenta button {
        font-size: 18px;
    }
}

@media(max-width: 450px) {
    .navContainer {
        top: 2em;
        right: 5em;
        margin-bottom: 4em;
    }

    .titleContainer {
        right: 0
    }

    .titleContainer h1 {
        width: 10em;
        position: relative;
        bottom: 0.2em;
        left: 7.5em;
        font-size: 16px;
    }

}